{
  "openapi": "3.1.0",
  "info": {
    "title": "queen-api",
    "description": "API for Queen/Stromae",
    "version": "4.3.1-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://stromae-v2-api.demo.insee.io",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "06. Survey units",
      "description": "Endpoints for survey units"
    },
    {
      "name": "03. Questionnaires",
      "description": "Endpoints for questionnaires"
    },
    {
      "name": "08. Survey units in temp Zone",
      "description": "Endpoints for survey units in temporary zone"
    },
    {
      "name": "10. Create Data Set",
      "description": "Endpoints for creating dataset"
    },
    {
      "name": "02. Campaigns",
      "description": "Endpoints for campaigns"
    },
    {
      "name": "05. Metadata",
      "description": "Endpoints for retrieving metadata"
    },
    {
      "name": "07. Paradata events",
      "description": "Endpoints for paradata events"
    },
    {
      "name": "01. Integrations",
      "description": "Endpoints for integration"
    },
    {
      "name": "04. Nomenclatures",
      "description": "Endpoints for nomenclatures"
    }
  ],
  "paths": {
    "/api/survey-unit/{id}": {
      "get": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Get survey-unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getSurveyUnitById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "questionnaireId": {
                      "type": "string"
                    },
                    "personalization": {
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "title": "Personalization schema",
                      "description": "Validation of personalizations for a survey unit",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "value"
                        ],
                        "additionalProperties": false
                      },
                      "$defs": {
                        "personalization": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "value"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "$schema": "https://json-schema.org/draft/2020-12/schema",
                      "title": "Data schema",
                      "description": "Validation of survey unit data",
                      "additionalProperties": false,
                      "properties": {
                        "CALCULATED": {
                          "patternProperties": {
                            "^.*$": {
                              "$schema": "https://json-schema.org/draft/2020-12/schema",
                              "title": "Variable type schema use in external/calculated/collected data",
                              "description": "Validation of variables values in survey unit data",
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "boolean"
                                  }
                                },
                                {
                                  "type": "null"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "null"
                                  }
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "EXTERNAL": {
                          "patternProperties": {
                            "^.*$": {
                              "$schema": "https://json-schema.org/draft/2020-12/schema",
                              "title": "Variable type schema use in external/calculated/collected data",
                              "description": "Validation of variables values in survey unit data",
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "number"
                                  }
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "boolean"
                                  }
                                },
                                {
                                  "type": "null"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "null"
                                  }
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "COLLECTED": {
                          "$schema": "https://json-schema.org/draft/2020-12/schema",
                          "title": "Collected data schema",
                          "description": "Validation of survey unit collected data",
                          "type": "object",
                          "patternProperties": {
                            "^.*$": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "COLLECTED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "EDITED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "FORCED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "INPUTED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "INPUTTED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "PREVIOUS": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          },
                          "additionalProperties": false,
                          "$defs": {
                            "collected_values": {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "COLLECTED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "EDITED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "FORCED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "INPUTED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "INPUTTED": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                },
                                "PREVIOUS": {
                                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                                  "title": "Variable type schema use in external/calculated/collected data",
                                  "description": "Validation of variables values in survey unit data",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      }
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "boolean"
                                      }
                                    },
                                    {
                                      "type": "null"
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "null"
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "comment": {
                      "type": "object"
                    },
                    "stateData": {
                      "properties": {
                        "state": {
                          "type": "string",
                          "enum": [
                            "INIT",
                            "COMPLETED",
                            "VALIDATED",
                            "TOEXTRACT",
                            "EXTRACTED"
                          ]
                        },
                        "date": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "currentPage": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Update survey-unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "updateSurveyUnitById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "personalization": {
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "title": "Personalization schema",
                    "description": "Validation of personalizations for a survey unit",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "$defs": {
                      "personalization": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "value"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "data": {
                    "type": "object",
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "title": "Data schema",
                    "description": "Validation of survey unit data",
                    "additionalProperties": false,
                    "properties": {
                      "CALCULATED": {
                        "patternProperties": {
                          "^.*$": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          }
                        },
                        "additionalProperties": false
                      },
                      "EXTERNAL": {
                        "patternProperties": {
                          "^.*$": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          }
                        },
                        "additionalProperties": false
                      },
                      "COLLECTED": {
                        "$schema": "https://json-schema.org/draft/2020-12/schema",
                        "title": "Collected data schema",
                        "description": "Validation of survey unit collected data",
                        "type": "object",
                        "patternProperties": {
                          "^.*$": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "COLLECTED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "EDITED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "FORCED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "INPUTED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "INPUTTED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "PREVIOUS": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        },
                        "additionalProperties": false,
                        "$defs": {
                          "collected_values": {
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                              "COLLECTED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "EDITED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "FORCED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "INPUTED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "INPUTTED": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              },
                              "PREVIOUS": {
                                "$schema": "https://json-schema.org/draft/2020-12/schema",
                                "title": "Variable type schema use in external/calculated/collected data",
                                "description": "Validation of variables values in survey unit data",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "number"
                                    }
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "boolean"
                                    }
                                  },
                                  {
                                    "type": "null"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "null"
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "comment": {
                    "type": "object"
                  },
                  "stateData": {
                    "properties": {
                      "state": {
                        "type": "string",
                        "enum": [
                          "INIT",
                          "COMPLETED",
                          "VALIDATED",
                          "TOEXTRACT",
                          "EXTRACTED"
                        ]
                      },
                      "date": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "currentPage": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "currentPage",
                      "date",
                      "state"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Delete a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "deleteSurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Update survey-unit updated data/state-data",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "updateSurveyUnitDataStateDataById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "type": "object",
                    "$schema": "https://json-schema.org/draft/2020-12/schema",
                    "title": "Collected data schema",
                    "description": "Validation of survey unit collected data",
                    "patternProperties": {
                      "^.*$": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "COLLECTED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "EDITED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "FORCED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "INPUTED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "INPUTTED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "PREVIOUS": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "additionalProperties": false,
                    "$defs": {
                      "collected_values": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "COLLECTED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "EDITED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "FORCED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "INPUTED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "INPUTTED": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          },
                          "PREVIOUS": {
                            "$schema": "https://json-schema.org/draft/2020-12/schema",
                            "title": "Variable type schema use in external/calculated/collected data",
                            "description": "Validation of variables values in survey unit data",
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "boolean"
                                }
                              },
                              {
                                "type": "null"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "type": "null"
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "stateData": {
                    "properties": {
                      "state": {
                        "type": "string",
                        "enum": [
                          "INIT",
                          "COMPLETED",
                          "VALIDATED",
                          "TOEXTRACT",
                          "EXTRACTED"
                        ]
                      },
                      "date": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "currentPage": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "currentPage",
                      "date",
                      "state"
                    ]
                  }
                },
                "required": [
                  "data",
                  "stateData"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/survey-unit/{id}/state-data": {
      "get": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Get state-data for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getStateDataBySurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "state": {
                      "type": "string",
                      "enum": [
                        "INIT",
                        "COMPLETED",
                        "VALIDATED",
                        "TOEXTRACT",
                        "EXTRACTED"
                      ]
                    },
                    "date": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "currentPage": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Update state-data for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "setStateData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "state": {
                    "type": "string",
                    "enum": [
                      "INIT",
                      "COMPLETED",
                      "VALIDATED",
                      "TOEXTRACT",
                      "EXTRACTED"
                    ]
                  },
                  "date": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "currentPage": {
                    "type": "string"
                  }
                },
                "required": [
                  "currentPage",
                  "date",
                  "state"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/survey-unit/{id}/personalization": {
      "get": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Get personalization for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getPersonalizationBySurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "title": "Personalization schema",
                  "description": "Validation of personalizations for a survey unit",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "value"
                    ],
                    "additionalProperties": false
                  },
                  "$defs": {
                    "personalization": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ],
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "06. Survey units"
        ],
        "summary": "Update personalization for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "setPersonalization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "title": "Personalization schema",
                "description": "Validation of personalizations for a survey unit",
                "type": "array",
                "items": {
                  "type": "object",
[...]
